.dados-container{
    width:  200px;
    height: 150px;
    background-color: rgb(19, 16, 16);
   color:rgb(226, 212, 212);
   font-size: 0.5em;
   border-radius: 20px;
   border:solid 5px black;
   text-align: center;
   box-shadow: black;;
   margin:0px;
}
.val {
    display: inline-flex;
    
}